<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <script src="{{ ASSET_PATH }}/jquery/jquery.min.js" rel="javascript"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js" rel="javascript"></script>
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/greenfield.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body data-color="green">

    <nav class="sticky">
    <div class="logo">
      <h1>greenfield</h1>
    </div>
    <div class="menu-trigger">
      <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul>
      <li><a href="http://www.greenfieldhq.com/#home">Home</a></li>
      <li><a href="http://www.greenfieldhq.com/#about">About</a></li>
      <li><a href="http://www.greenfieldhq.com/#team">Team</a></li>
      <li><a href="http://www.greenfieldhq.com/#portfolio">Portfolio</a></li>
      <li class="active"><a href="#blog">Blog</a></li>
      <li><a href="http://www.greenfieldhq.com/#contact">Contact</a></li>
    </ul>		
    </nav>

    <ul class="nav sub-nav">
      {% assign pages_list = site.pages %}
      {% assign group = 'navigation' %}
      {% include JB/pages_list %}
    </ul>

    <div class="container-narrow">
      <div class="content">
        {{ content }}
      </div>
      <hr>
    </div>
    <footer>
    <!--p>&copy; {{ site.time | date: '%Y' }}
      <span class="greenfield">greenfield</span>
    </p-->
    </footer>

    {% include JB/analytics %}

    <script src="{{ ASSET_PATH }}/js/waypoints.min.js" rel="javascript"></script>
    <script src="{{ ASSET_PATH }}/js/waypoints.sticky.js" rel="javascript"></script>

    <script>
      $(function() {
        $('nav').waypoint('sticky', {
          stuckClass: 'sticky'
        });

        $(window).resize(function(){
          if($(window).width() >= 768) {
            $('.menu-trigger a').removeClass('open');
            $('nav > ul').removeAttr('style');
          }
          if($(window).width() < 768) {
            $('.menu-trigger a').click(function(){

              if(!$('.menu-trigger').hasClass('open')) {
                $('.menu-trigger').addClass('open');
                $('nav > ul').stop(false,true).slideDown();			
                } else {
                $('.menu-trigger').removeClass('open');
                $('nav > ul').stop(false,true).slideUp();			
              }


              return false;
            });
          }
        });

      });
    </script>
  </body>
</html>
