{% assign author = site.data.authors[page.author] %}

<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <ul class="list-inline">
      {% if author %}
        <li>
          <a href="https://twitter.com/{{ author.twitter }}" target="_blank">
            <span class="label label-success">{{ author.name }}</span>
          </a>
        </li>
      {% endif %}

      <li>
        <div class="date">{{ page.date | date_to_long_string }}</div>
      </li>
    </ul>

    <div class="content">
      {{ content }}
    </div>

  <!--
  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
    {% endunless %}  
    -->

    <!--
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    -->
    <div class="post-sharing">
     {% include JB/sharing %}
    </div>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//greenfieldhq.us10.list-manage.com/subscribe/post?u=6ec8103b9559f40657e7d7bab&amp;id=77fc680278" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Want to get our top Greenfield posts emailed directly to you?</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_6ec8103b9559f40657e7d7bab_77fc680278" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
    </div>

    <hr>
    {% include JB/comments %}
  </div>
</div>
